
@import url(header.css);
@import url(carrossel.css);
@import url(plano.css);
@import url(sobre.css);
@import url(footer.css);
@import url(mobile.css);
@import url(anima.css);

* {
	margin: 0;
	padding: 0;
	font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
	scroll-behavior: smooth;
	overflow-x: hidden;
	
	
}